body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

nav{
    background-color: #1F2937;
    padding: 0px 200px 0px 160px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

nav ul .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

nav ul div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}


.content {
    flex: 1;
}

.part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    color: #e5e7eb;
    font-size: 18px;
    background-color: #1F2937;
    padding: 40px 200px 100px;
}

.part-one h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0px;
}

.part-one > p {
    margin: 20px;
    padding: 100px 200px;
    background-color: grey;
    text-align: center;
}

.part-one button {
    background-color: #3882f6;
    padding: 5px 40px;
    color: white;
    border-radius: 6px;
}

.part-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* hm */
    align-items: center;
    padding: 20px 250px 100px;
}

.part-two h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.part-two .boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.blue-box {
    border: 4px solid #3882f6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.part-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 350px;
}

.part-three .big-quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.part-three .speaker {
    text-align: right;
    color: #1F2937;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.part-four {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 80px;
}

.part-four .text {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    gap: 50px;
}

.call {
    font-weight: 900;
    font-size: 22px;
}

.part-four button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 5px 30px;
}


footer {
    background-color: #1F2937;
}